body {
	background-image: url('../images/svg/low-poly-grid-haikei.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
/*Color of the price text*/
.product-subtotal, .product-price {
	color: green;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #FFFFFF;
	text-align: center;
}

h3 {
	color: #FFFFFF;
}

a {
	color: #77bbff;
	background-color: transparent;
}

a:hover {
	text-decoration: underline;
	color: #1cb5ff;
}

p {
	color: #F8F8F8;
}

label, strong {
	color: #FFFFFF;
}

input, select {
	text-align: center;
	background-color: transparent;
	color: #F8F8F8;
}

option {
	background-color: #1c0d2a;
	color: #F8F8F8;
	border: none;
}

.product-details {
	text-align: center;
	border-top: 2px solid red;
	border-left: 2px solid red;
	border-right: 2px solid red;
	border-bottom: 2px dashed red;
	border: 1px solid #FFFFFF;
	box-shadow: 0 2px 4px #FFFFFF;
	border-radius: 6px;
	margin: 0 auto;
	margin-top: 20px;
}

.cart-total {
	color: green;
}

.cart-table {
	box-shadow: -1px 5px 9px 0px rgba(2, 0, 0, 0.5)
}

input[type="submit"] {
	background-color: orange;
	color: #1c0d2a;
	border-style: solid;
	padding: 8px 16px;
	border-radius: 3px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: rgb(225, 225, 225, 0.2);
}

th, caption {
	color: #FFFFFF;
	background-color: #0d1b2a;
}

button {
	background-color: orange;
	color: #0d1b2a;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,
	textarea:focus {
	background-color: #00101C;
}

.orderDetails {
	background-color: rgb(250, 250, 250, 0.3);
}
/*Text area and admin catalog section addproduct*/
textarea {
	background-color: transparent;
	color: #F8F8F8;
	resize: vertical;
}

#AddProduct {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button-container {
	text-align: center;
}

/* end */
.error {
	font-size: 20px;
	text-align: center;
	color: red;
}

/* Header CSS */
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.header-left {
	flex: 1;
	text-align: left;
}

.header-right {
	flex: 1;
	text-align: right;
}

.header-left h1 {
	margin: 0;
}

.header-left nav ul, .header-right nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header-left nav ul li, .header-right nav ul li {
	display: inline;
	text-decoration: none;
	margin-left: 10px;
}

/* Updated styles for links */
.header-left nav ul li a {
	text-decoration: none;
	font-size: 18px;
}

.header-right nav ul li a {
	font-size: 18px;
	text-decoration: none;
}

.header-left nav ul li a:hover, .header-right nav ul li a:hover {
	text-decoration: underline;
}

/* Align "Home" and "Catalog" to the left */
.header-left nav ul {
	justify-content: flex-start;
}

.header-right nav ul {
	justify-content: flex-end;
}

/* media queries */
@media ( max-width : 1024px) {
	header {
		flex-wrap: wrap;
		width: calc(100% + 10px);
	}
	.header-left, .header-right {
		flex-basis: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
}

@media ( max-width : 500px) {
	.header-left, .header-right {
		flex-basis: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
}