@charset "UTF-8";

/* Hero section styles */
#hero {
	text-align: center;
	padding: 50px 0;
}

#hero h2 {
	font-size: 32px;
	margin-bottom: 20px;
}

#hero p {
	font-size: 18px;
	margin-bottom: 30px;
}

#hero .cta {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 26px;
	border-radius: 5px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px;
}

h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 30px;
}

.slider {
	overflow: hidden;
	position: relative;
	padding: 20px 0;
}

.slide-container {
	display: flex;
	width: fit-content;
	transition: transform 0.5s ease;
}

.slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex: 0 0 300px;
	border-radius: 6px;
	margin: 10px;
	padding: 20px;
	border-top: 3px solid red;
	border-left: 3px solid red;
	border-right: 3px solid red;
	border-bottom: 3px dashed red;
	transition: transform 0.3s ease;
}

.slide img {
	width: 100%;
	height: 100%;
	border-radius: 6px;
	margin-bottom: 10px;
}

.slide-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 15px;
}

.slide-details p {
	margin-bottom: 10px;
}

.product-price {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 10px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type="number"] {
	width: 50px;
	margin-bottom: 10px;
	padding: 5px;
}

.no-products-msg {
	text-align: center;
	font-size: 18px;
	margin: 40px 0;
}

.navigation {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.prev-btn, .next-btn {
	border: none;
	padding: 8px 12px;
	margin: 0 5px;
	font-size: 36px;
	cursor: pointer;
}

.prev-btn:hover, .next-btn:hover {
	border: none;
	padding: 8px 12px;
	margin: 0 5px;
	font-size: 36px;
	cursor: pointer;
}

@media ( max-width : 1024px) {
	.container {
		padding: 10px;
	}
	.slide-container {
		display: flex;
		width: fit-content;
		transition: transform 0.5s ease;
		touch-action: pan-y;
	}
	.slide {
		box-sizing: border-box;
		margin: 0px;
	}
	.navigation {
		margin-top: 20px;
	}
	.slide img {
		border-radius: 3px;
		margin-bottom: 5px;
	}
	#hero h2 {
		font-size: 24px;
		margin-bottom: 12px;
	}
	#hero p {
		font-size: 20px;
		margin-bottom: 15px;
	}
	#hero .cta {
		padding: 4px 8px;
		font-size: 26px;
	}
}